---
import { Image } from "astro:assets";
const { name, image, text } = Astro.props;
---
<div class="relative h-full group">
  <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-gray-400 rounded-lg transition-transform duration-300 group-hover:translate-x-1 group-hover:translate-y-1"></span>
  <div class="relative h-full p-5 bg-gray-800 border-2 border-gray-400 rounded-lg transition-transform duration-300 group-hover:-translate-x-1 group-hover:-translate-y-1 group-hover:shadow-xl group-hover:border-blue-500 ">
    <div class="flex items-center mb-4">
      <Image 
        src={image} 
        alt={`Foto de ${name}`} 
        width={48} 
        height={48} 
        class="rounded-full border-2 border-gray-400"
      />
      <p class="text-white text-lg ml-4">{name}</p>
    </div>
    <p class="text-white md:text-sm 2xl:text-base italic">
      "{text}"
    </p>
  </div>
</div>
