---
---

<div id="whatsapp-button" class="fixed bottom-4 right-4 sm:bottom-6 sm:right-6 z-50">
  <a
    href="https://wa.me/message/EYD5PVJNW5K2A1"
    target="_blank"
    rel="noopener noreferrer"
    class="bg-green-500 hover:bg-white text-white hover:text-green-500 rounded-full hover:shadow-xl transition-all duration-300 p-4 flex justify-center items-center w-16 h-16 relative group"
  >
    <!-- Ícono por defecto -->
    <img
      src="/svg/svgwpwhite.svg"
      alt="WhatsApp"
      class="w-8 h-8 transition-opacity duration-300 opacity-100 group-hover:opacity-0"
    />
    <!-- Ícono al hacer hover -->
    <img
      src="/svg/svgwpgreen.svg"
      alt="WhatsApp Hover"
      class="w-8 h-8 transition-opacity duration-300 opacity-0 group-hover:opacity-100 absolute"
    />
  </a>
</div>

