---
---


<div class="py-8 mb-10 xl:mb-10">
  <div class="py-6">
    <h2 class="text-white text-4xl font-bold text-center md:mb-6">
      Dale un vistazo a <br class="block md:hidden" /> nuestro canal!
    </h2>
  </div>

  <div class="flex justify-center md:mt-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 gap-x-4 px-4 justify-items-center">
      <!-- Video 1 -->
      <div class="flex justify-center lg:w-96 w-full mx-auto">
        <iframe
          class="w-80 h-48 rounded-3xl"
          src="https://www.youtube.com/embed/iBipJNE5-H8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
      <!-- Video 2 -->
      <div class="flex justify-center lg:w-96 w-full mx-auto">
        <iframe
          class="w-80 h-48 rounded-3xl"
          src="https://www.youtube.com/embed/9NCbuIjCFcQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>

  <div class="mt-12 flex justify-center">
    <a
      href="https://www.youtube.com/@maagdigitaldesign"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button
        class="flex items-center space-x-2 bg-blue-600 hover:bg-blue-500 px-6 py-3 rounded-full text-lg font-semibold hover:scale-105 transition-transform duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5.25 5.5l13.5 6.5-13.5 6.5V5.5z"
          />
        </svg>
        <span>Suscríbete</span>
      </button>
    </a>
  </div>
</div>
