<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icono.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Evoldimaag</title>
	</head>
	<body class="bg-slate-950 text-white sm:max-w-x max-w-screen min-h-screen bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]">
		<slot />
	</body>
</html>


